.rd-navbar-static .rd-navbar-nav > li.shopping_cart{
    margin-top: 0;
}

.rd-navbar-static .rd-navbar-nav > li.shopping_cart > a.shopping_cart_icon span.count{
    font-size: 12px;
    position: fixed;
    padding-left: 7px;
    font-weight: 900;
}

.row{
    margin-top: 0 !important;
}

.cart .cart_item{
    border-top: 1px solid #f1592a;
}

.cart .delete{
    padding: 0 !important;
    cursor: pointer;
}

.cart .update{
    padding: 5px 25px;
    line-height: 1;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.cart .item-title a {
    text-decoration: none;
    font-size: 14px;
    color: #777777;
    background: transparent;
}

.cart .item-code {
    vertical-align: baseline;
    font-size: 14px;
    color: #000;
    background: transparent;
}

.cart a.cart_product_image {
    margin: 10px;
}

.cart  .item-price {
    font-size: 17px;
    font-weight: bold;
    color: #919191;
}

.cart input.item-quantity:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}

.cart input.item-quantity {
    width: 50px;
    font-size: 15px;
    text-align: right;
    padding: 6px 8px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 34px;
    line-height: 14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    -moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    display: inline;
}

div.cart, div.checkout{
    margin-top: 50px;
    padding-top: 150px;
    padding-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 650px;
}
.cart .last .cart_item{
    border-bottom: 1px solid #f1592a;
    margin-bottom: 50px;
}

.cart .cart_details{
    border: 1px solid #f1592a
;
    color: #000000;
    margin: 10px 0;
    padding: 10px 10px 10px 30px;
}

.cart .cart_details .cart_amount{
    text-align: right;
    font-size: 17px;
    font-weight: bold;
    color: #919191;
}

.cart .cart_details .cart_total_label{
    font-size: 20px;
    font-weight: bold;
}

.cart .cart_details .btn-checkout{
    padding: 5px 25px;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
}

.cart .cart_details .continue-shopping{
    padding: 5px 30%;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
}

article.blurb.blurb-circle p.heading-6.blurb__title{
    line-height: 1 !important;
}

.right{
    text-align: right;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
